<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Family Tree</title>
  <!-- Bootstrap -->
  <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans|Slabo+27px" rel="stylesheet">
  <link href="index.css" rel="stylesheet">

</head>

<body>

  <!-- item template -->
  <script type="text/x-template" id="tree-template">
    <li>
      <div class="node" @click="toggle" @dblclick="changeType">
        <span>
          <span>{{model.name}}</span>
          <span v-if="isFolder" class="node-hide-show">[{{open ? '-' : '+'}}]</span>
        </span>
      </div>
      <ul v-show="open" v-if="isFolder">
        <tree class="item" v-for="model in model.children" :model="model">
        </tree>
        <li class="add" @click="addChild">+</li>
      </ul>
    </li>
  </script>

  <!-- the demo root element -->
  <div id="app" class="tree">
    <ul>
      <tree :model="treeData">
      </tree>
    </ul>
  </div>

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="bower_components/vue/dist/vue.min.js"></script>
  <script src="index.js" type="text/javascript"></script>

</body>

</html>
