@import "../../css/constants.scss";
.popover-member.popover {
  padding: 20px;
  width: 250px;
  color: black;
  font-family: $FontFamily;
  top: 50%!important;
  left: 50%!important;
  @include css3("transform", "translate(-50%, -50%)");
  .image {
    width: 50px;
    ;
    height: 50px;
    border-radius: 100%;
    background-size: cover;
    background-position: center center;
    box-shadow: 0px 10px 17px -5px #939292;
    float: left;
  }
  .title {
    font-size: 20px;
    font-weight: 600;
    line-height: 50px;
    padding-left: 60px;
  }
  .header {
    margin-bottom: 15px;
  }
  .buttons {
    padding-top: 20px;
    text-align: center;
    .button {
      display: inline-block;
    }
    .button-icon {
      min-width: 35px;
    }
    .icon {
      color: white;
      font-size: 16px;
    }
  }
}