.tree {
  .card {
    margin: 0;
    background: none;
    // overflow: hidden;
    display: inline-block;
    width: 100%;
    // background: #1b1b1b;
    min-height: 100px;
    max-height: 140px;
    box-shadow: none;
    .image-container {
      height: 70px;
      width: 100%;
      overflow: hidden;
      position: relative;
      .image {
        border-radius: 10px 10px 0 0;
        height: 70px;
        width: 100%;
        background-size: cover;
        background-position: top center;
        position: relative;
        z-index: 2;
        margin: auto;
        &.placeholder {
          height: auto;
          width: 100%;
          left: 0px;
          position: absolute;
          top: 0px;
          z-index: 1;
          background-size: cover;
        }
      }
    }
    .card-header {
      padding: 5px 7px;
      background-size: cover;
      background-position: center center;
      display: inline-block;
      width: 100%;
      height: 85px;
      .title {
        border: 0;
        line-height: 18px;
        padding: 0px;
        border: 0;
        color: white;
        font-weight: 300;
        font-size: 12px;
        padding-left: 0px;
        box-sizing: border-box;
        border-radius: 0 10px 10px 0;
        text-align: left;
        overflow: auto;
        max-height: 38px;
      }
      .age {
        font-size: 12px;
        color: #747474;
        text-align: left;
      }
      &::after {
        display: none;
      }
    }
    .card-footer {
      padding: 0 7px;
      margin-top: -1px;
      min-height: 0px;
      &::before {
        display: none;
      }
      a {
        color: white;
        width: auto;
        min-width: 100%;
        height: auto;
        &:active {
          opacity: 0.3;
        }
      }
    }
  }
}

.node {
  // width: 180px;
  margin: auto;
  display: inline-block;
  padding: 0 10px;
  position: relative;
  &.partners {
    &:nth-of-type(1):after {
      content: '';
      position: absolute;
      top: 50%;
      right: -0.5px;
      border-top: 1px solid #ccc;
      width: 11px;
      height: 0;
    }
    &:nth-of-type(2):after {
      content: '';
      position: absolute;
      top: 50%;
      left: -1px;
      border-top: 1px solid #ccc;
      width: 11px;
      height: 0;
    }
    &.open {
      &:nth-of-type(1):before {
        content: '';
        position: absolute;
        top: 50%;
        right: -0.5px;
        border-right: 1px solid #ccc;
        width: 0;
        height: 50%;
      }
    }
    &:not(.root) {
      &:nth-of-type(2):before {
        content: '';
        position: absolute;
        top: 0;
        left: -0px;
        border-right: 1px solid #ccc;
        width: 0;
        height: 50%;
      }
    }
  }
}

//@extend-elements
//original selectors
//.front, .back
%extend_1 {
  //Instead of the line below you could use @include backface-visibility($visibility)
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.flip-container {
  //Instead of the line below you could use @include perspective($p)
  perspective: 1000px;
  width: 100%;
  height: 100%;
  &:hover .flipper {
    //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
    transform: rotateY(180deg);
  }
  &.hover .flipper {
    //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
    transform: rotateY(180deg);
  }
  .flipper {
    width: 100px;
    height: 145px;
    //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
    transition: 0.3s;
    //Instead of the line below you could use @include transform-style($style)
    transform-style: preserve-3d;
    position: relative;
    .front {
      width: 100%;
      height: 100%;
      @extend %extend_1;
      z-index: 2;
      border-radius: 10px;
      background: black;
      box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
      //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
      transform: rotateY(0deg);
      &.not-in-this-tree {
        background: #1b1b1b
      }
    }
    .back {
      width: 100%;
      height: 100%;
      background: black;
      @extend %extend_1;
      border-radius: 10px;
      box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
      //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
      transform: rotateY(180deg);
      &.not-in-this-tree {
        background: #1b1b1b
      }
      .buttons {
        text-align: center;
        height: 100%;
        .button {
          min-width: 0px;
          background: none;
          // display: inline-block;
          width: 50%;
          height: 60px;
          float: left;
          margin: auto;
          border-radius: 0px;
          background: none!important;
          box-shadow: none;
        }
        .icon {
          color: white;
          font-size: 20px;
          line-height: 60px;
        }
      }
    }
  }
}

.tree {
  .small {
    .node {
      width: 100px;
      .card.flip-container {
        min-height: 76px;
        .flipper {
          width: 100%;
          height: 76px;
          .front {
            width: 100px;
            .image {
              display: none;
            }
            .title {
              padding: 0px;
              text-align: center;
              font-size: 14px;
            }
            .age {
              display: none;
            }
            .card-header {
              padding: 8px;
              text-align: center;
              height: 46px;
              overflow: auto;
            }
          }
          .back {
            .buttons {
              .button {
                min-width: 0;
                i {
                  line-height: 20px;
                }
              }
            }
          }
        }
      }
    }
  }
}